#wrapper {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,255,255,1) 35%, rgba(250,254,255,1) 90%, rgba(255,255,255,1) 100%);
    border-bottom: 2px solid #d0e3e8;
}
